body {
    font-family: 'Source Code Pro', monospace;
}

.navbar-logo{
    width: 150px;
    height: auto;
    /* margin-left: 50px;
    margin-right: 50px; */
}

a.nav-link {
    color: #333;
}

a.nav-link:hover {
    color: rgb(41, 129, 29)
}

/* li {
    float: left;
} */
ul {
    padding-right: 200px;
}
ul li {
    padding: 20px;
}
img.body-lemon {
    width: 100%;
    height: auto;
}

.img-title, h2, p.main-title {
    color:rgba(240, 240, 240, 0.89);
    position: absolute;
    text-shadow: 2px 2px #333;
    font-weight: bold;
}
.img-title{
    top: 450px;
    right: 200px;
    font-size: 90px;
    transition: 0.5s ease;
}

.img-title:hover{
    font-size: 100px;
}

.body-img h2 {
    top: 580px;
    right: 200px;
}
.body-img p {
    width: 400px;
    top: 630px;
    right: 200px;
    text-align: justify;
}

footer {
    background-color: #555;
    width: 100%;
    height: 80px;
    text-align: center;
}

small {
    color: #eee;
    line-height: 80px;
}

/* -----------------------------CONTACT PAGE-------------------------------------- */
.contact-form{
    margin-left: 100px;
    margin-top: 30px;
    position: absolute;
}
.heading {
    margin-left: 10px;
    font-size: 30px;
    color: rgb(7, 73, 7);
}

.arrow {
    margin-left: 100px;
    font-size: 30px;
    color: rgb(7, 73, 7);
}

.contact-form input, .contact-form textarea {
    border: 2px solid olivedrab;
    border-radius: 6%;
    outline: none;
}
.contact-form input {
    height: 35px;
}
.contact-form textarea {
    resize: none;
}

.contact-form button {
    width: 90px;
}

.body-photo {
    width: 300px;
    height: auto;
    left: 650px;
    top: 150px;
    position: absolute;
}

.body-photo:hover {  
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  /* ----------------------------- ABOUT PAGE------------------------ */
    .company {
    color: rgb(7, 73, 7);
    width: 300px;
    margin-left: 930px;
    top: 180px;
    float: left;
    position: absolute;
    font-size: xx-large;
    }

    .main-img1 {
        width: 300px;
        height: auto;
        margin-left: 40px;
        margin-top: 50px;
        float: left;
    }

    .comp-info {
        width: 690px;
        margin-left: 520px;
        margin-top: 110px;
        position: absolute;
    }

    .hr-2 {
        margin-top: 550px;
    }

    .corpo-img {
        width: 380px;
        height: auto;
        margin-left: 40px;
        margin-top: 20px;
        float: left;
    }
    .corpo-title{
    color: rgb(7, 73, 7);
    width: 300px;
    margin-left: 550px;
    top: 730px; 
    font-size: xx-large;
    float: left;
    position: absolute;
    }

    .corpo-info {
        width: 690px;
        margin-left: 520px;
        margin-top: 90px;
        position: absolute;
    }
    .hr-3 {
        margin-top: 450px;
    }

    .sponsor-img {
        width: 300px;
        height: auto;
        margin-left: 40px;
        margin-top: 20px;
        float: left;
    }
    .sponsor-title {
        color: rgb(7, 73, 7);
        width: 300px;
        margin-left: 550px;
        top: 1180px; 
        font-size: xx-large;
        float: left;
        position: absolute;
    }

    .sponsor-info {
        width: 690px;
        margin-left: 520px;
        margin-top: 90px;
        position: absolute;
    }

